@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<address>
    <strong>Support:</strong>   <a href="mailto:Zborovi4@gmail.com">Zborovi4@gmail.com</a><br />
</address>